$color-primary-light: #effaed;
$color-primary-dark: #2db92d;
$color-primary: #32cd32;

$color-secondary: #384b34;

$color-white: #fff;
$color-black: #000;

$color-text-dark: #333;
$color-text-light: #555;
$color-text-light-2: #777;

$default-font-size: 1.6rem;
