.form {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
  margin-top: 3.2rem;

  &__label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.8rem;
  }
  &__input {
    padding: 1.6rem;
    outline: 0;
    font-size: 1.8rem;
    border: 0;
    font-family: inherit;
    color: inherit;
    background-color: $color-primary-light;
    border-radius: 9px;
  }
}
