.help {
  padding: 6.4rem;
  background-color: #baf9af;
  border-radius: 11px;
  box-shadow: 0rem 2rem 2rem rgba($color-text-light, 0.1);
}

.book-strong {
  color: $color-primary-dark;
  text-transform: uppercase;
}
